0  *  *  *  *    /speedtest --accept-license --accept-gdpr -s$(/speedtest -L | grep Ozone | awk '{print $1}') -fjson | tee /dev/tty | tee /data/speedtest-$(date +"%Y-%m-%d-%H-%M").json | curl -X POST -H "X-Algolia-API-Key: ${ALGOLIA_API_KEY}" -H "X-Algolia-Application-Id: ${ALGOLIA_APPLICATION_ID}" -d@- https://${ALGOLIA_APPLICATION_ID}.algolia.net/1/indexes/${ALGOLIA_INDEX}

